<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="KAFKA"
		class="com.github.ptgoetz.logback.kafka.KafkaAppender">
		<topic>foo</topic>
		<zookeeperHost>localhost:2181</zookeeperHost>
		<!-- specify a custom formatter -->
		<formatter class="com.github.ptgoetz.logback.kafka.formatter.JsonFormatter">
		    <!-- 
		    Whether we expect the log message to be JSON encoded or not.
		    If set to "false", the log message will be treated as a string, 
		    and wrapped in quotes. Otherwise it will be treated as a parseable
		    JSON object.
		    -->
			<expectJson>true</expectJson>
		</formatter>
	</appender>
	<root level="debug">
		<appender-ref ref="KAFKA" />
	</root>
</configuration>